
header {
    background-color: rgba(0,0,0,0.2);
}

header ul {
  text-align: right;
}

header ul li {
  list-style: none;
  display: inline-block;
}

header ul li a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #00a4a2;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  transition: all ease 0.5s;
  padding: 10px;
}

header ul li a:hover {
  background-color: #004746;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: inline-block;
  height: 70px;
  background-color: rgba(153, 153, 153, 0.281);
  font-size: 18px;
}

.copyright {
  width: 50%;
  float: left;
}

.copyright p {
  color: white;
  letter-spacing: 1px;
}

.social {
  width: 50%;
  float: right;
}

.social a {
  float: left;
  line-height: 70px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-weight: bold;
  transition: all ease 0.5s;
}

.social a:hover {
  background-color: #222;
}

.linked {
  background-color: #1E83AE;
  width: 20%;
}

.face {
  background-color: #3D5B94;
  width: 20%;
}

.tweet {
  background-color: #3DACDD;
  width: 20%;
}

.support {
  background-color: #004746;
  width: 40%;
}

